Source: django-netman
Maintainer: Darryl Ross <darryl@afoyi.com>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 7), python-setuptools
Standards-Version: 3.9.1
X-Python-Version: >= 2.6

Package: django-netman
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Network management modules for Django
 Network management modules for Django
